@charset "UTF-8";
/* ------------------------------------------------------------
   TOPページ
------------------------------------------------------------ */
/*
 * 目次
 * 01.background
 * 02.mainimg
 * 03.pickup
 * 04.contents
 * 05.feature
 */
/* 01.background
------------------------------------------------------------ */
/*div.bg {
    background-image: url(../img/common/bg.png), url(../img/common/bg_pattern.gif);
    background-repeat: no-repeat, repeat;
    background-size: 100%, auto;
    padding-bottom: 100px;
}*/

/* 02.mainimg
------------------------------------------------------------ */
.mainimg {
    /*padding: 35px 0 0;*/
    text-align: center;
    position: relative;
}

.mainimg div img {
    width: 100%;
}

.mainimg div.btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1%;
}

.mainimg div.btn img {
    width: 40%;
    max-width: 511px;
}

.mainimg div.btn a {
    transition: .3s;
}

.mainimg div.btn a:hover {
    opacity: 0.7;
}

/* 03.pickup
------------------------------------------------------------ */
/*.pickup {
    width: 90%;
    max-width: 1225px;
    margin: 60px auto 70px;
}

.pickup li {
    width: 22.75%;
    margin-right: 3%;
    border: solid 3px #231815;
    text-align: center;
    padding: 30px 0;
    background: url(../img/common/p_bg.gif);
    float: left;
    box-sizing: border-box;
}

.pickup li:last-child {
    margin-right: 0;
}

.pickup li img {
    width: 40%;
}

.pickup li:first-child img {
    max-width: 47px;
}

.pickup li:nth-child(2) img {
    max-width: 43px;
}

.pickup li:nth-child(3) img {
    max-width: 58px;
}

.pickup li:nth-child(4) img {
    max-width: 58px;
}

.pickup li div {
    margin-bottom: 10px;
}

.pickup li:nth-child(3) div {
    margin-top: 14px;
}

.pickup li:nth-child(4) div {
    margin-top: 12px;
}

.pickup li p {
    font-weight: 600;
}*/
/*.mainimg .bx-wrapper .bx-controls-direction a {
    width: 27px;
    height: 60px;
}
.mainimg .bx-wrapper .bx-prev {
    left: 10px;
    background: url(../img/top/prev.png) no-repeat 0 0 / 27px;
}
.mainimg .bx-wrapper .bx-next {
    right: 10px;
    background: url(../img/top/next.png) no-repeat 0 0 / 27px;
}
.mainimg .bx-wrapper {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
}

.mainimg .bx-wrapper .bx-next:focus,
.mainimg .bx-wrapper .bx-next:hover { background-position: center; }
.mainimg_wrapper {
  overflow: hidden;
}

.mainimg_slider {
  position: relative;
  left: 5vw; 
  overflow: visible !important;
}

.mainimg_slider li {
  width: 90vw !important;
}


.bx-wrapper {
  box-shadow: none;
  border: none;
  margin: 0;
}*/
.swiper-container {
    width: 100%;
    max-width: 1220px;
    margin: auto;
}

.swiper-slide-prev { text-align: right; }
.swiper-slide.swiper-slide-active { text-align: center; }
.swiper-slide img { width: 100%; max-width: 1220px; }


.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url(../img/top/prev.png);
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url(../img/top/next.png);
}


.swiper-my-pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  border-radius: 0;
}
.swiper-container-horizontal > .swiper-my-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}
.swiper-my-pagination img {
    width: 100%;
    box-shadow: none;
    margin: 0;
    vertical-align: bottom;
}
.swiper-my-pagination {
  display: table;
}
.swiper-my-pagination {
  display: table;
  table-layout: fixed;
}
.swiper-my-pagination .swiper-pagination-bullet {
  display: table-cell;
  padding: 2px;
  background: transparent;
  opacity: 1;
}
.swiper-my-pagination .swiper-pagination-bullet-active {
  background: transparent;
  opacity: 0.6;
}

/* 4step
------------------------------------------------------------ */
.pickup { width: 90%; max-width: 1220px; margin: 50px auto; }
.guide_flow { display: flex; }
.fl_box {
	flex: auto;
	width: 230px;
	position: relative;
	margin: 10px 18px;
}
.fl_box:first-child { margin-left: 0; }
.fl_box:last-child { margin-right: 0; }

.fl_box:after{
	border: 20px solid transparent;
	border-left-color: #fff799;
	border-right-width:0;
	right: -20px;
	content: "";
	display: block;
	bottom: 68px;
	position: absolute;
	width: 0;
}

.fl_box:last-child:after {
	display: none;
}

.fl_title {
	display: flex;
	display: -webkit-box;  
	display: -webkit-flex; 
	display: -ms-flexbox; 
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	height: 60px;
	background: #ffa801;
}

.fl_sh {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin-top: 8px;
}

.fl_bg {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin-left: 6px;
}

.fl_contents {
	height: 170px;	
	background-color: #fff799;
}
/*.fl_img {
	display: flex;
	display: -webkit-box;  
	display: -webkit-flex; 
	display: -ms-flexbox; 
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	height: 60%;
}*/
.fl_icon1,
.fl_icon2,
.fl_icon3,
.fl_icon4 {
    margin: auto;
	width: 160px;
	height: 100px;
}
.fl_icon1 {
	background: url(../img/guide/icon_step1.png) no-repeat center / contain;
}

.fl_icon2 {
	background: url(../img/guide/icon_step2.png) no-repeat center / contain;
}

.fl_icon3 {
	background: url(../img/guide/icon_step3.png) no-repeat center / contain;
}

.fl_icon4 {
	background: url(../img/guide/icon_step4.png) no-repeat center / contain;
}

.fl_text {
	display: flex;
	display: -webkit-box;  
	display: -webkit-flex; 
	display: -ms-flexbox; 
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	height: 40%;
	padding-bottom: 20px;
}

.fl_p {
	color: #fd5c01;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}


/* 04.contents
------------------------------------------------------------ */
.contents {
    width: 90%;
    max-width: 1225px;
    margin: auto;
    /*background: #fff;
    border: solid 3px #231815;
    box-sizing: border-box;
    padding: 35px 35px 100px;*/
}

.contents h2 {
    /*background: url(../img/common/bg_headorg.gif);*/
    position: relative;
    font-size: 171%;
    font-weight: 600;
    color: #f76100;
    margin-bottom: 30px;
    border-bottom: solid 8px #f7931e;
    padding-bottom: 6px;
}

.contents h2::before {
    position: absolute;
    content: "";
    background-color: #f76100;
    width: 20%;
    height: 8px;
    left: 0;
    bottom: -8px;
    bottom: -8px;
}

.contents section {
    margin-bottom: 100px;
}

.contents section li a {
    transition: .3s;
}

.contents section li a:hover {
    opacity: 0.7;
}

.contents section.box3 li {
    float: left;
    width: 31%;
    margin-right: 3%;
    margin-bottom: 20px;
}

.contents section.box3 li:nth-child(3n) {
    margin-right: 0;
}

.contents section.box3 li img {
    width: 100%;
    max-width: 363px;
}

.contents section.box5 li {
    float: left;
    width: 18%;
    margin-right: 2.5%;
    margin-bottom: 20px;
}

.contents section.box5 li:nth-child(5n) {
    margin-right: 0;
}

.contents section.box5 li img {
    width: 100%;
    max-width: 363px;
}

.contents .btn {
    text-align: center;
}

.contents .btn img {
    width: 100%;
    max-width: 600px;
}

.contents .btn a {
    transition: .3s;
}

.contents .btn a:hover {
    opacity: 0.7;
}

/* 05.feature
------------------------------------------------------------ */
.contents .feature {
    margin-bottom: 0;
}

.feature li {
    width: 48.6%;
    float: left;
    margin-right: 2.6%;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: solid 3px #231815;
    text-align: center;
    padding: 30px;
}

.feature li:nth-child(1) {
    background-image: url(../img/top/01.png), url(../img/common/bg_dotwh.gif);
    background-repeat: no-repeat,repeat;
    background-size: 90px, auto;
}

.feature li:nth-child(2) {
    background-image: url(../img/top/02.png), url(../img/common/bg_dotwh.gif);
    background-repeat: no-repeat,repeat;
    background-size: 90px, auto;
}

.feature li:nth-child(3) {
    background-image: url(../img/top/03.png), url(../img/common/bg_dotwh.gif);
    background-repeat: no-repeat,repeat;
    background-size: 90px, auto;
}

.feature li:nth-child(4) {
    background-image: url(../img/top/04.png), url(../img/common/bg_dotwh.gif);
    background-repeat: no-repeat,repeat;
    background-size: 90px, auto;
}

.feature li:nth-child(5) {
    background-image: url(../img/top/05.png), url(../img/common/bg_dotwh.gif);
    background-repeat: no-repeat,repeat;
    background-size: 90px, auto;
}

.feature li:nth-child(6) {
    background-image: url(../img/top/06.png), url(../img/common/bg_dotwh.gif);
    background-repeat: no-repeat,repeat;
    background-size: 90px, auto;
}

.feature li:nth-child(2n) {
    margin-right: 0;
}

.feature dt {
    font-weight: bold;
    font-size: 128%;
    position: relative;
    padding: 40px 0 10px;
    margin-bottom: 15px;
}

.feature dt span.blue {
    font-size: 122%;
    color: #003f97;
}

.feature li dt::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    width: 31px;
    height: 31px;
}

.feature li:first-child dt::before {
    background: url(../img/top/01_ico.png) no-repeat;
    background-size: contain;
}

.feature li:nth-child(2) dt::before {
    background: url(../img/top/02_ico.png) no-repeat;
    background-size: contain;
}

.feature li:nth-child(3) dt::before {
    background: url(../img/top/03_ico.png) no-repeat;
    background-size: contain;
}

.feature li:nth-child(4) dt::before {
    background: url(../img/top/04_ico.png) no-repeat;
    background-size: contain;
}

.feature li:nth-child(5) dt::before {
    background: url(../img/top/05_ico.png) no-repeat;
    background-size: contain;
}

.feature li:nth-child(6) dt::before {
    background: url(../img/top/06_ico.png) no-repeat;
    background-size: contain;
}

.feature dt::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: url(../img/common/sl_blue.gif);
    background-position: bottom;
}

.hidden { display: none; }
.more__btn {
	background: url(../img/common/arrow_bottom.gif) no-repeat right 30px center / 13px auto,
		url("../img/common/morebtn_bg.gif") repeat left center / 6px auto;
	font-size: 20px;
	font-weight: bold;
	border: solid 2px #000;
	box-shadow: 5px 5px #000;
	color: #ffffff;
	width: 80%;
    max-width: 600px;
    padding: 20px 0;
	margin: 20px auto 20px;
	display: flex;
	display: -webkit-box;  
	display: -webkit-flex; 
	display: -ms-flexbox; 
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}
.more__btn:hover {
    opacity: .9;
}
.more__btn a {
	color: #fff;
	text-decoration: none;
}


@media screen and (max-width: 767px) {
    /* 02.mainimg
    ------------------------------------------------------------ */
    .mainimg {
        /*padding: 20px 0 0;*/
    }
    /* 03.pickup
    ------------------------------------------------------------ */
    .pickup {
        width: 90%;
        max-width: 1225px;
        margin: 30px auto 10px;
    }
    .pickup li, .pickup li:last-child {
        width: 47%;
        margin-right: 4.5%;
        margin-bottom: 15px;
        padding: 15px 0;
    }
    .pickup li:nth-child(2n) {
        margin-right: 0;
    }
    .pickup li p {
        font-size: 12px;
    }
    .pickup li:first-child img {
        max-width: 39px;
    }
    .pickup li:nth-child(2) img {
        max-width: 35px;
    }
    .pickup li:nth-child(3) img {
        max-width: 50px;
    }
    .pickup li:nth-child(4) img {
        max-width: 50px;
    }
    /* 04.contents
    ------------------------------------------------------------ */
    .contents {
        width: 90%;
        max-width: 1225px;
        margin: auto;
    }
    .contents section {
        margin-bottom: 60px;
    }
    .contents h2 {
        font-size: 114%;
        /*padding: 13px 0 13px 15%;*/
    }
    /*.contents h2::before {
        width: 40px;
        height: 49px;
        left: -3px;
        bottom: 5px;
    }*/
    .contents .btn img {
        max-width: 450px;
    }
    .contents section.box3 li, .contents section.box3 li:nth-child(3n) {
        float: none;
        width: 100%;
        margin: 0 auto 20px;
    }
    .contents section.box3 li img {
        max-width: none;
    }
    .contents section.box5 li, .contents section.box5 li:nth-child(5n) {
        float: left;
        width: 47%;
        margin-right: 4.5%;
        margin-bottom: 10px;
    }
    .contents section.box5 li:nth-child(2n) {
        margin-right: 0;
    }
    
    
    
    /* 4step
    ------------------------------------------------------------ */
    .guide_flow {
        flex-wrap: wrap;
    }
	.fl_box,
    .fl_box:first-child,
    .fl_box:last-child {
        width: 90%;
        margin: 10px auto 30px;
	}
	
	.fl_box:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -20px;
        border: 20px solid transparent;
        border-top: 20px solid #fff799;
	}
    .fl_contents { 
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fl_icon1, 
    .fl_icon2,
    .fl_icon3,
    .fl_icon4 { width: 110px; }
    .fl_text { 
        width: 89%;
        width : -webkit-calc(100% - 110px) ;
        width: calc(100% - 110px);
        padding-bottom: 0;
    }

    
    .swiper-button-next, .swiper-button-prev { top: 45%; }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        background-size: 50%;
    }
    
    
    /* 05.feature
    ------------------------------------------------------------ */
    .feature li {
        width: 100%;
        float: none;
        margin-right: 0;
        border: solid 2px #003f97;
        padding: 25px 20px;
    }
    .feature dt {
        font-size: 114%;
    }
    .feature dd {
        text-align: left;
    }
    .feature li:nth-child(1) {
        background-image: url(../img/top/01.png), url(../img/common/bg_dotwh.gif);
        background-repeat: no-repeat,repeat;
        background-size: 70px, auto;
    }
    .feature li:nth-child(2) {
        background-image: url(../img/top/02.png), url(../img/common/bg_dotwh.gif);
        background-repeat: no-repeat,repeat;
        background-size: 70px, auto;
    }
    .feature li:nth-child(3) {
        background-image: url(../img/top/03.png), url(../img/common/bg_dotwh.gif);
        background-repeat: no-repeat,repeat;
        background-size: 70px, auto;
    }
    .feature li:nth-child(4) {
        background-image: url(../img/top/04.png), url(../img/common/bg_dotwh.gif);
        background-repeat: no-repeat,repeat;
        background-size: 70px, auto;
    }
    .feature li:nth-child(5) {
        background-image: url(../img/top/05.png), url(../img/common/bg_dotwh.gif);
        background-repeat: no-repeat,repeat;
        background-size: 70px, auto;
    }
    .feature li:nth-child(6) {
        background-image: url(../img/top/06.png), url(../img/common/bg_dotwh.gif);
        background-repeat: no-repeat,repeat;
        background-size: 70px, auto;
    }
}
